<p><strong>Уважаемый {{ user.username }},</strong></p>
<p>
Для сброса пароля пройдите пожалуйста по
<a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
    этой ссылке
</a>.
</p>
<p>Также Вы можете скопировать нижеуказанную ссылку, вставить ее в адресную строку браузера и перейти по ней.</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>Если Вы не запрашивали сброс своего пароля, просто проигнорируйте это письмо.</p>
<p>С уважением,</p>
<p><i>Администрация Microblog</i></p>

